<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-train-heading">Create or edit a Train</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trainName">Train Name</label>
                    <input type="text" class="form-control" name="trainName" id="field_trainName"
                           formControlName="trainName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_trainNumber">Train Number</label>
                    <input type="text" class="form-control" name="trainNumber" id="field_trainNumber"
                           formControlName="trainNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tFare">T Fare</label>
                    <input type="number" class="form-control" name="tFare" id="field_tFare"
                           formControlName="tFare"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tTiming">T Timing</label>
                    <input type="text" class="form-control" name="tTiming" id="field_tTiming"
                           formControlName="tTiming"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
